@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

/* add book form card */
.card {
    border-radius: 15px;
    width: 470px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    height: 360px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
}

.card h2 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-top: 13px;
  font-weight: 200;
  
}

.bookInfo {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  width: 100%;
  align-items: center;
}

input#bookName, input#bookAuthor, input#bookPages  {
  outline: none;
  border: none;
  background-color: #F1F1F1;
  border-radius: 15px;
  width: 420px;
  height: 45px;
  padding-left: 20px;
  color: #000;
}

input#bookName, input#bookAuthor {
  margin-bottom: 26px;
}

input#bookPages {
  margin-bottom: 15px;
} 

.bookRead {
  display: flex;
  width: 150px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 17px;
}

.rdLbl {
  color: #000;
  font-size: 20px;
  align-self: center;
  margin-top: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.addBtn  {
    width: 115px;
    background-color: #6BAB39;
    margin-bottom: 9px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.addBtn:hover  {
  border: 1px solid #6BAB39;
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

/* created card from user's input */

.created-card {
  background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 360px;
}

.topDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.bookName {
  font-size: 25px;
  width: 385px;
  height: 115px;
  text-align: center;
  flex-shrink: 0;
  font-family: 'Inter', sans-serif;
  display: grid;
  place-items: center;
  margin-bottom: 10px;
}

.bookAuthor {
  font-size: 20px;
  width: 385px;
  height: 25px;
  text-align: center;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

.bookPages {
  font-size: 15px;
  width: 385px;
  height: 15px;
  text-align: center;
  flex-shrink: 0;
  font-weight: 300;
  display: grid;
  place-items: center;
  margin-bottom: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.created-card hr {
  width: 425px;
  color: #000;
  outline: none;
}

.botDiv {

  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 12px;
}


.statusLbl {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

.statusPara {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #258304;
  margin-top: 17px;
}

/* delete created card link */

#del {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: rgb(255, 0, 0);
}

#del i {
  color: rgb(255, 255, 255);
}

#del i:hover {
  color: rgb(255, 0, 0);
}

#del p {
  position: absolute;
  left: 6px;
  top: 2px;
}

#del:hover {
  background-color: rgb(255, 255, 255);
}














