@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* add book form card */
.card {
    border-radius: 15px;
    width: 470px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-left: 38px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card h2 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-top: 13px;
  
}

.bookInfo {
  text-align: center;
  margin-top: 19px;
}

.bookInfo input {
  outline: none;
  border: none;
  background-color: #F1F1F1;
  border-radius: 15px;
  width: 420px;
  height: 45px;
  margin-bottom: 26px;
  padding-left: 20px;
  color: #000;
}

.bookRead {
  display: flex;
  width: 150px;
  gap: 10px;
  justify-content: center;
}

.rdLbl {
  color: #000;
  font-size: 20px;
  align-self: center;
  margin-top: 3px;
}

.addBtn  {
    width: 115px;
    background-color: #6BAB39;
    margin-top: 15px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.addBtn:hover  {
  border: 1px solid #6BAB39;
  background-color: #fff;
  color: #000;
}





