@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tienne&display=swap');


html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(16,55,131);
background: linear-gradient(360deg, rgba(16,55,131,1) 1%, rgba(188,220,191,1) 100%);
word-wrap: break-word;
}


.add {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    width: 50px;
    height: 70px;
    margin-top: 90px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
    grid-row-gap: 40px;
    width: 100%;
    max-width: 1500px;
    margin: 50px auto;
}

.main-container img {
    position: absolute;
    border: 1px solid red;
    width: 100%;
    bottom: 0;
}

.header {
    position: relative;
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 5em;
    font-family: 'Helvetica', sans-serif;
    font-size: 120px;
    color: #fff;
}

.header div {
    position: absolute;
    top: 25%;
    right: 90px;
    cursor: pointer;
}

.del {
    position: absolute;
    right: 10px;
}

.del a {
    font-size: 20px;
}

